<h1>Pagina Personal</h1>
@model Personal


@Html.LabelFor(m=>m.name, "NOMBRE: ") @Model.name <br/>
@Html.LabelFor(m=>m.lastname, "APELLIDO: ") @Model.lastname <br/>
@Html.LabelFor(m=>m.age, "EDAD: ") @Model.age <br/>
@Html.LabelFor(m=>m.telefono, "TELEFONO: ") @Model.telefono <br/>
@Html.LabelFor(m=>m.direccion, "DIRECCION: ") @Model.direccion <br/>
@Html.LabelFor(m=>m.correo, "CORREO: ") @Model.correo <br/>

